</html>
<% include(../'navigation') %>
<style>
   .mdl-data-table{
        background-color: black;
    color: #FB667A
  }
  .mdl-textfield__label{
    color: #FB667A
  }
  th{
      color: yellow
  }
  .mdl-color-text--red{
    color: #FB667A
  }
  .mdl-textfield {
    color: yellow
  }
  .mdl-layout-title{
     color: #185875
  }
</style>

<head>

<body>
    <title>Data Edit: #<%=results[0]['team1_name']%> and #<%=results[0]['team2_name']%></title>
    <link rel="stylesheet" href="/css/score.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
    <form method=POST action="/dataEdit/update/<%=results[0]['id']%>">
        <h1> <span class="red">Scored by <%=results[0]['author']%></pan></h1>
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="team_one">Team 1 Name</label>
                <input class="mdl-textfield__input" type="text" id=team_one name=team_one
                    value="<%=results[0]['team1_name']%>" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="team_two">Team 2 Name</label>
                <input class="mdl-textfield__input" type="text" id=team_two name=team_two
                    value="<%=results[0]['team2_name']%>" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="event_name">Event Name</label>
                <input class="mdl-textfield__input" type="text" id=event_name name=event_name
                    value="<%=results[0]['event_name']%>" />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="match">Match</label>
                <input class="mdl-textfield__input" type="text" id=match name=match value="<%=results[0]['match_num']%>"
                    pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="field">Field</label>
                <input class="mdl-textfield__input" type="text" id=field name=field value="<%=results[0]['field_num']%>"
                    pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Autonomous">
            <span align="center" class="mdl-layout-title">Autonomous Period</span>
            <thead>
                <tr>
                    <th class= mdl-color-text--yellow>Type</th>
                    <th class= mdl-color-text--yellow>1st</th>
                    <th class= mdl-color-text--yellow>2nd</th>
                    <th class= mdl-color-text--yellow>3rd</th>
                    <th class= mdl-color-text--yellow>4th</th>
                    <th class= mdl-color-text--yellow>5th</th>
                    <th class= mdl-color-text--yellow>6th</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="">Skystone</td>
                    <% for (var i = 1; i <= 6; i++) { %>
                    <% if (results[0]['skystone' + i] == 1) { %>
                    <td><input type="checkbox" id="skystone<%=i%>" name="skystone<%=i%>" checked />
                    </td>
                    <% } else {%>
                    <td><input type="checkbox" id="skystone<%=i%>" name="skystone<%=i%>" /></td>
                    <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td class="">Stone</td>
                    <% for (var i = 1; i <= 6; i++) { %>
                    <% if (results[0]['stone' + i] == 1) { %>
                    <td><input type="checkbox" name="stone<%=i%>" id="stone<%=i%>" checked /></td>
                    <% } else {%>
                    <td><input type="checkbox" id="stone<%=i%>" name="stone<%=i%>" /></td>
                    <% } %>
                    <% } %>
                </tr>
                <tr>
                    <td class="">None</td>
                    <% for (var i = 1; i <= 6; i++) { %>
                    <% if (results[0]['none' + i] == 1) { %>
                    <td><input type="checkbox" name="none<%=i%>" id="none<%=i%>" checked /></td>
                    <% } else {%>
                    <td><input type="checkbox" id="none<%=i%>" name="none<%=i%>" /></td>
                    <% } %>
                    <% } %>
                </tr>

            </tbody>
        </table>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Reposition">
            <td class="">First Returned Skystone</td>
            <% if (results[0]['frs'] == 1) { %>
            <td><input id="firstRet" type="checkbox" checked name="FRS" id="FRS" /></td>
            <% } else { %>
            <td><input id="firstRet" type="checkbox" name="FRS" id="FRS" /></td>
            <% } %>
            <td class="">Foundation Repositioned</td>
            <% if (results[0]['fr'] == 1) { %>
            <td><input id="firstRep" type="checkbox" checked name="FS" id="FS" /></td>
            <% } else { %>
            <td><input id="firstRep" type="checkbox" name="FS" id="FS" /></td>
            <% } %>
            <td class="">Robot 1 Navigated</td>
            <% if (results[0]['r1n'] == 1) { %>
            <td><input type="checkbox" checked name="R1N" id="R1N" /></td>
            <% } else { %>
            <td><input type="checkbox" name="R1N" id="R1N" /></td>
            <% } %>
            <td class="">Robot 2 Navigated</td>
            <% if (results[0]['r2n'] == 1) { %>
            <td><input type="checkbox" checked name="R2N" id="R2N" /></td>
            <% } else { %>
            <td><input type="checkbox" name="R2N" id="R2N" /></td>
            <% } %>
        </table>
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="ReturnedAuto">Returned</label>
                <input class="mdl-textfield__input" type="text" id=ReturnedAuto name=ReturnedAuto
                    value="<%=results[0]['returned_auto']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="PlacedAuto">Placed</label>
                <input class="mdl-textfield__input" type="text" id=PlacedAuto name=PlacedAuto
                    value="<%=results[0]['placed_auto']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>

        <span class="mdl-layout-title" align="center">Driver-Controlled Period</span>
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="delivered_number">Delivered</label>
                <input class="mdl-textfield__input" type="text" id=delivered_number name=delivered_number
                    value="<%=results[0]['delivered']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="tallest_skyscraper">Tallest
                    Skyscraper</label>
                <input class="mdl-textfield__input" type="text" id=tallest_skyscraper name=tallest_skyscraper
                    value="<%=results[0]['tallest_sky']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="returned_name">Returned</label>
                <input class="mdl-textfield__input" type="text" id=returned_name name=returned_name
                    value="<%=results[0]['returned_drs']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="placed">Placed</label>
                <input class="mdl-textfield__input" type="text" id=placed name=placed
                    value="<%=results[0]['placed_drs']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Found">
            <span align=center class="mdl-layout-title">End Game Period</span>
            <td class="">Foundation Moved</td>
            <% if (results[0]['found_moved'] == 1) { %>
            <td><input type="checkbox" name="found" checked id="found" /></td>
            <% } else { %>
            <td><input type="checkbox" name="found" id="found" /></td>
            <% } %>


        </table>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Robots">
            <thead>
                <tr>
                    <th class=""></th>
                    <th class= mdl-color-text--yellow>Robot One</th>
                    <th class= mdl-color-text--yellow>Robot Two</th>
                </tr>
            </thead>
            <tr>
                <td class="">Capstone</td>
                <% if (results[0]['cap1'] == 1) { %>
                <td><input type="checkbox" checked name="Capstone1" id="Capstone1" /></td>
                <% } else { %>
                <td><input type="checkbox" name="Capstone1" id="Capstone1" /></td>
                <% } %>
                <% if (results[0]['cap2'] == 1) { %>
                <td><input type="checkbox" checked name="Capstone2" id="Capstone2" /></td>
                <% } else { %>
                <td><input type="checkbox" name="Capstone2" id="Capstone2" /></td>
                <% } %>
            </tr>
            <tr>
                <td class="">Parked</td>
                <% if (results[0]['parked1'] == 1) { %>
                <td><input type="checkbox" checked name="Parked1" id="Parked1" /></td>
                <% } else { %>
                <td><input type="checkbox" name="Parked1" id="Parked1" /></td>
                <% } %>
                <% if (results[0]['parked2'] == 1) { %>
                <td><input type="checkbox" checked name="Parked2" id="Parked2" /></td>
                <% } else { %>
                <td><input type="checkbox" name="Parked2" id="Parked2" /></td>
                <% } %>
            </tr>
        </table>
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="robot1_level">Robot 1 Level</label>
                <input class="mdl-textfield__input" type="text" id=robot1_level name=robot1_level
                    value="<%=results[0]['r1l']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="robot2_level">Robot 2 Level</label>
                <input class="mdl-textfield__input" type="text" id=robot2_level name=robot2_level
                    value="<%=results[0]['r2l']%>" pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>

        <span class="mdl-layout-title" align="center">Penalties</span>
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="minor"># Minor</label>
                <input class="mdl-textfield__input" type="text" id=minor name=minor value="<%=results[0]['minor']%>"
                    pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col">
                <label class="mdl-textfield__label mdl-color-text--grey" for="major"># Major</label>
                <input class="mdl-textfield__input" type="text" id=major name=major value="<%=results[0]['major']%>"
                    pattern="^[0-9]{1,3}" />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Cards">
            <thead>
                <tr>
                    <th class=""></th>
                    <th class= mdl-color-text--yellow>No Show</th>
                    <th class= mdl-color-text--yellow>Yellow Card</th>
                    <th class= mdl-color-text--yellow>Red Card</th>
                </tr>
            </thead>
            <tr>
                <td class="">Team 1</td>
                <% for (var i = 0; i <= 2; i++) { %>
                <% if (results[0]['team1_'+ i] == 1) { %>
                <td><input type="checkbox" checked id="team1_<%=i%>" name="team1_<%=i%>" /></td>
                <% } else {%>
                <td><input type="checkbox" id="team1_<%=i%>" name="team1_<%=i%>" /></td>
                <% } %>
                <% } %>
            </tr>
            <tr>
                <td class="">Team 2</td>
                <% for (var i = 0; i <= 2; i++) { %>
                <% if (results[0]['team2_'+ i] == 1) { %>
                <td><input type="checkbox" checked id="team2_<%=i%>" name="team2_<%=i%>" /></td>
                <% } else {%>
                <td><input type="checkbox" id="team2_<%=i%>" name="team2_<%=i%>" /></td>
                <% } %>
                <% } %>
            </tr>
        </table>
        <a href="/scoringData" id="backButton"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
            <i class="material-icons">arrow_back</i>
        </a>
        <a href="/dataEdit/<%=results[0]['id']%>" id="resetButton"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Reset</a>
        <input id="submitButton" type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow"
            value="Update">
    </form>
    </form>

    </html>
    <% include footer %>