</html>
<%- include ../navigation%>
<style>
    .header {
        padding: 1px;
        text-align: center;
        background: red;
        color: Red;
        font-size: 1px;
    }

    .mdl-data-table {
        color: #FB667A
    }

    .mdl-textfield__label {
        color: #FB667A
    }

    th {
        color: #FB667A
    }

    .mdl-color-text--grey {
        color: #FB667A
    }
</style>

<head>

<body>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/score.css">
    <link rel="stylesheet" href="/js/score.js">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </head>
    <title>Red Alliance</title>

    <h1> <span class="red">Red Alliance</pan>
    </h1>
    <form method="POST" action="/score=?">
        <div class=container>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-color-text--yellow">
                <select class="mdl-textfield__input" id="team_one" name="team_one" required>
                    <option></option>
                    <% for (var i = 0; i < name.length; i++) { %>
                    <option value="<%=results[i]['team_number']%>"><%=name[i]%></option>
                    <% } %>
                </select>
                <label class="mdl-textfield__label" for="team_one">Team 1</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-color-text--yellow">
                <select class="mdl-textfield__input" id="team_two" name="team_two" required>
                    <option></option>
                    <% for (var i = 0; i < name.length; i++) { %>
                    <option value="<%=results[i]['team_number']%>"><%=name[i]%></option>
                    <% } %>
                </select>
                <label class="mdl-textfield__label" for="team_two">Team 2</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  mdl-color-text--yellow">
                <select class="mdl-textfield__input" id="event_name" name="event_name" required>
                    <option></option>
                    <!-- <script>alert("<%=results1[0][0]%>")</script> -->
                    <% for (var i = 0; i < results1.length; i++) { %>
                    <% if (i == 0) { %>
                    <option selected="selected" value="<%=results1[i]['Name']%>"><%=results1[i]['Name']%></option>
                    <% } else { %>
                    <option value="<%=results1[i]['Name']%>"><%=results1[i]['Name']%></option>
                    <% } %>
                    <% } %>
                </select>
                <label class="mdl-textfield__label" for="event_name">Event Name</label>
            </div>
        </div>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="match">Match</label>
                <input class="mdl-textfield__input" type="numeric" id="match" name="match" pattern="^[0-9]{1,3}"
                    required />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="field">Field</label>
                <input class="mdl-textfield__input" type="numeric" id="field" name="field" pattern="^[0-9]{1,3}"
                    required />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Autonomous">
            <span align="center" class="mdl-layout-title">Autonomous Period</span>
            <thead>
                <tr>
                    <th class=mdl-color-text--yellow>Type</th>
                    <th class=mdl-color-text--yellow>1st</th>
                    <th class=mdl-color-text--yellow>2nd</th>
                    <th class=mdl-color-text--yellow>3rd</th>
                    <th class=mdl-color-text--yellow>4th</th>
                    <th class=mdl-color-text--yellow>5th</th>
                    <th class=mdl-color-text--yellow>6th</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="">Skystone</td>
                    <% for (var i = 1; i <= 6; i++) { %>
                    <td><input type="checkbox" id="skystone<%=i%>" name="skystone<%=i%>" onclick="increment()" /></td>
                    <% } %>
                </tr>
                <tr>
                    <td class="">Stone</td>
                    <% for (var i = 1; i <= 6; i++) { %>
                    <td><input type="checkbox" name="stone<%=i%>" id="stone<%=i%>" onclick="increment()" /></td>
                    <% } %>
                </tr>
                <tr>
                    <td class="">None</td>
                    <% for (var i = 1; i <= 6; i++) { %>
                    <td><input type="checkbox" name="none<%=i%>" checked id="none<%=i%>" /></td>
                    <% } %>
                </tr>

            </tbody>
        </table>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black " id="Reposition">
            <td class="">First Returned Skystone</td>
            <td><input id="firstRet" type="checkbox" name="FRS" id="FRS" onclick="increment()" /></td>
            <td class="">Foundation Repositioned</td>
            <td><input id="firstRep" type="checkbox" name="FS" id="FS" onclick="increment()" /></td>
            <td class="">Robot 1 Navigated</td>
            <td><input id="R1N" type="checkbox" name="R1N" id="R1N" onclick="increment()" /></td>
            <td class="">Robot 2 Navigated</td>
            <td><input type="checkbox" name="R2N" id="R2N" onclick="increment()" /></td>
        </table>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="ReturnedAuto">Returned</label>
                <input class="mdl-textfield__input" type="numeric" value=0 id="ReturnedAuto" oninput="increment()"
                    name="ReturnedAuto" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="PlacedAuto">Placed</label>
                <input class="mdl-textfield__input" type="numeric" value=0 id="PlacedAuto" oninput="increment()"
                    name="PlacedAuto" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>

        <span class="mdl-layout-title" align="center">Driver-Controlled Period</span>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="delivered_number">Delivered</label>
                <input class="mdl-textfield__input" type="numeric" value=0 id="delivered_number" oninput="increment()"
                    name="delivered_number" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="tallest_skyscraper">Tallest
                    Skyscraper</label>
                <input class="mdl-textfield__input" type="numeric" value=0 id="tallest_skyscraper"
                    name="tallest_skyscraper" oninput="increment()" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>

            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="returned_name">Returned</label>
                <input class="mdl-textfield__input" type="numeric" value=0 id="returned_name" name="returned_name"
                    oninput="increment()" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>

            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="placed">Placed</label>
                <input class="mdl-textfield__input" type="numeric" value=0 id="placed" name="placed"
                    oninput="increment()" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black" id="Found">
            <span align=center class="mdl-layout-title">End Game Period</span>
            <td class="">Foundation Moved</td>
            <td><input type="checkbox" name="found" id="found" onclick="increment()" /></td>
        </table>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black " id="Robots">
            <thead>
                <tr>
                    <th class=""></th>
                    <th class=mdl-color-text--yellow>Robot One</th>
                    <th class=mdl-color-text--yellow>Robot Two</th>
                </tr>
            </thead>
            <tr>
                <td class="">Capstone</td>
                <td><input type="checkbox" name="Capstone1" id="Capstone1" onclick="increment()" /></td>
                <td><input type="checkbox" name="Capstone2" id="Capstone2" onclick="increment()" /></td>
            </tr>
            <tr>
                <td class="">Parked</td>
                <td><input type="checkbox" name="Parked1" id="Parked1" onclick="increment()" /></td>
                <td><input type="checkbox" name="Parked2" id="Parked2" onclick="increment()" /></td>
            </tr>
        </table>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="robot1_level">Robot 1 Level</label>
                <input class="mdl-textfield__input" type="text" value=0 id="robot1_level" oninput="increment()"
                    name="robot1_level" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="robot2_level">Robot 2 Level</label>
                <input class="mdl-textfield__input" type="text" value=0 id="robot2_level" oninput="increment()"
                    name="robot2_level" pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>

        <span class="mdl-layout-title" align="center">Penalties</span>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="minor"># Minor</label>
                <input class="mdl-textfield__input" type="text" value=0 id="minor" name="minor" oninput="increment()"
                    pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="major"># Major</label>
                <input class="mdl-textfield__input" type="text" value=0 id="major" name="major" oninput="increment()"
                    pattern="^[0-9]{1,3}" required />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black " id="Cards">
            <thead>
                <tr>
                    <th></th>
                    <th class=mdl-color-text--yellow>No Show</th>
                    <th class=mdl-color-text--yellow>Yellow Card</th>
                    <th class=mdl-color-text--yellow>Red Card</th>
                </tr>
            </thead>
            <tr>
                <td class="">Team 1</td>
                <% for (var i = 0; i <= 2; i++) { %>
                <td><input type="checkbox" id="team1_<%=i%>" name="team1_<%=i%>" onclick="increment()" /></td>
                <% } %>
            </tr>
            <tr>
                <td class="">Team 2</td>
                <% for (var i = 0; i <= 2; i++) { %>
                <td><input type="checkbox" id="team2_<%=i%>" name="team2_<%=i%>" onclick="increment()" /></td>
                <% } %>
            </tr>
        </table>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
            <label class="mdl-textfield__label mdl-color-text--grey" for="alliance"></label>
            <input class="mdl-textfield__input" type="text" id="alliance" name="alliance" value="Red" hidden />
            <span class="mdl-textfield__error"></span>
        </div>
        <input id="resetButton" type="reset"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow"
            value="Reset">
        <input id="submitButton" type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow"
            value="Submit">
        <a href="/score" id="backButton"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
            <i class="material-icons">arrow_back</i>
        </a>
        
        <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
            <input class="mdl-textfield__input" value=0 type="numeric" id="points" name="points" readonly />
            <span class="mdl-textfield__error"></span>
        </div>
    </form>
    <script>
        function increment() {
            var types = ["skystone", "stone"];
            var other_types = [
                ["firstRet", 10], ["firstRep", 10], ["R1N", 5], ["R2N", 5], ["found", 15], ["Capstone1", 5], ["Capstone2", 5], ["Parked1", 5], ["Parked2", 5]];
            let points = 0
            for (let j = 0; j < types.length; j++) {
                for (let i = 1; i <= 6; i++) {
                    let needed = document.getElementById(types[j] + i);
                    if (needed.checked) points++;
                }
            }
            for (let i = 0; i < other_types.length; i++) {
                let needed = document.getElementById(other_types[i][0]);
                if (needed.checked) points += other_types[i][1]
            }
            points += parseInt(document.getElementById("ReturnedAuto").value) * 2
            points += parseInt(document.getElementById("PlacedAuto").value) * 4
            points += parseInt(document.getElementById("delivered_number").value)
            points += (parseInt(document.getElementById("tallest_skyscraper").value) * 2)
            points -= parseInt(document.getElementById("returned_name").value)
            points += parseInt(document.getElementById("placed").value)
            points += parseInt(document.getElementById("minor").value) * 5
            points += parseInt(document.getElementById("major").value) * 20
            points += parseInt(document.getElementById("robot1_level").value)
            points += parseInt(document.getElementById("robot2_level").value)
            document.getElementById("points").value = points

        }

    </script>

    </html>