<%- include ../navigation%>

<head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <link rel='stylesheet' href='/css/hawk.css' />
    <link rel='stylesheet' href='/css/simal.css' />
    <link rel="stylesheet" href="/css/scoringButtons.css">
    <link rel="stylesheet" href="/css/table.css">
</body>
</head>
<style>

#accuracy{
    position: fixed;
    left: 2.5%;
   bottom: 1%;
}
</style>
<button class="tablink" onclick="openPage('Matches', this, 'yellow')" color=black id="defaultOpen">Matches</button>
<button class="tablink" onclick="openPage('Rankings', this, 'yellow')">Rankings</button>
<div id="Matches" class="tabcontent">
    <h1> <span class="red">Match Results</pan>
    </h1>
    <table class=container>
        <thead>
            <tr>
                <th>
                    <h1>Match</h1>
                </th>
                <th>
                    <h1>Red 1</h1>
                </th>
                <th>
                    <h1>Red 2</h1>
                </th>
                <th>
                    <h1>Blue 1</h1>
                </th>
                <th>
                    <h1>Blue 2</h1>
                </th>
                <th>
                    <h1>Match Score</h1>
                </th>
                <th>
                    <h1>OPR Score</h1>
                </th>
                <th>
                    <h1>Win-Loss %</h1>
                </th>
                <th>
                    <h1>Win Probability</h1>
                </th>
            </tr>
        </thead>
        <% for (let i = 0; i < sim_matches.length; i++) { %>
        <tr>
            <td>
                <%=event[i]['_matchName']%>
            </td>
            <td>
                <%=event[i]['_matchParticipants'][0]['_teamKey']%>
            </td>
            <td>
                <%=event[i]['_matchParticipants'][1]['_teamKey']%>
            </td>
            <td>
                <%=event[i]['_matchParticipants'][2]['_teamKey']%>
            </td>
            <td>
                <%=event[i]['_matchParticipants'][3]['_teamKey']%>
            </td>
            <td>
                <%=event[i]['_redScore']%> - <%=event[i]['_blueScore']%>
            </td>
            <td>
                <%=sim_matches[i][0]%> - <%=sim_matches[i][2]%>
            </td>
            <td>
                <%=sim_matches[i][1]%> - <%=sim_matches[i][3]%>
            </td>
            <% if (match[i][0] > match[i][1]) { %>
            <td style='color: red'>
                <%=match[i][0]%>%
            </td>
            <% } else if (match[i][0] < match[i][1]) { %>
            <td style='color: blue'>
                <%=match[i][1]%>%
            </td>
            <% } else { %>
            <td style='color: green'>
                <%=match[i][1]%>%
            </td>
            <% } %>

        </tr>
        <% } %>
    </table>
    <div
        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--1-col mdl-color-text--yellow">
        <input class="mdl-textfield__input" value="<%=accuracy%>%" type="numeric" id="accuracy" name="accuracy" readonly />
        <span class="mdl-textfield__error"></span>
    </div>
</div>

<div id="Rankings" class="tabcontent">
    <h1> <span class="red">Rankings</pan></span></h1>
    <table class=container>
        <thead>
            <tr>
                <th>
                    <h1>Ranking</h1>
                </th>
                <th>
                    <h1>Team</h1>
                </th>
                <th>
                    <h1>Record </h1>
                </th>
                <th>
                    <h1>Simul </h1>
                </th>

            </tr>
        </thead>
        <% for (let i = 0; i < rankings.length; i++) { %>
        <tr>
            <td>
                <%=rankings[i]['_rank']%>
            </td>
            <td>
                <%=rankings[i]['_teamKey']%>
            </td>
            <td>
                <%=rankings[i]['_wins']%> - <%=rankings[i]['_losses']%> - <%=rankings[i]['_ties']%>
            </td>
            <td>
                <%=rankings[i]['wins_']%> - <%=rankings[i]['losses_']%> - <%=rankings[i]['ties_']%>
            </td>
        </tr>
        <% } %>
    </table>

</div>