<%- include ('../navigation.ejs')%>
<!DOCTYPE html>

<html>

<head>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script defer src="/js/scout.js"></script>
  <link rel='stylesheet' href='/css/hawk.css' />
  <link rel='stylesheet' href='/css/scout.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scout</title>
</head>

<button class="tablink" onclick="openPage('Home', this, 'yellow')" color=black id="defaultOpen">Info</button>
<button class="tablink" onclick="openPage('News', this, 'yellow')">Autonomous</button>
<button class="tablink" onclick="openPage('Contact', this, 'yellow')">Teleop</button>
<button class="tablink" onclick="openPage('About', this, 'yellow')">End Game</button>

<form method="POST" action="/scout=?">
  <div id="Home" class="tabcontent">
    <div class=container>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-color-text--yellow">
        <select class="mdl-textfield__input" id="team_num" name="team_num" required>
          <option></option>
          <% for (var i = 0; i < name.length; i++) { %>
          <option value="<%=results[i]['team_number']%>"><%=name[i]%></option>
          <% } %>
        </select>
        <label class="mdl-textfield__label" for="team_num">Team Number</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-color-text--yellow">
        <select class="mdl-textfield__input" id="event_name" name="event_name" required>
          <option></option>
          <% for (var i = 0; i < results1.length; i++) { %>
          <% if (i == 0) { %>
          <option selected="selected" value="<%=results1[i]['Name']%>"><%=results1[i]['Name']%></option>
          <% } else { %>
          <option value="<%=results1[i]['Name']%>"><%=results1[i]['Name']%></option>
          <% } %>
          <% } %>
        </select>
        <label class="mdl-textfield__label" for="event_name">Event Name</label>
      </div>
    </div>
    <a href="/home" id="backButton"
      class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
      <i class="material-icons">arrow_back</i>
    </a>

  </div>

  <div id="News" class="tabcontent">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black ">
      <td class="red">Move Foundation</td>
      <td><input color=red id="firstRet" type="checkbox" name="MF" id="MF" /></td>
      <td class="">Sense Skystones</td>
      <td><input id="firstRet" type="checkbox" name="SS" id="SS" /></td>
      <td class="">Park Over the Build Zone</td>
      <td><input id="firstRep" type="checkbox" name="PDZ" id="PDZ" /></td>
      <td class="">Collect Stones</td>
      <td><input id="firstRet" type="checkbox" name="CS" id="CS" /></td>
      <td class="">Place Stones</td>
      <td><input id="firstRet" type="checkbox" name="FS" id="FS" /></td>
    </table>
    <div class=container1>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand1
          id="expand1"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand_label1 for="expand1">Foundation
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand2
          id="expand2"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand_label2 for="expand2">Sensing
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand3
          id="expand3"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand_label3 for="expand3">Parking
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" display=none rows="10" name=expand4
          id="expand4"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand_label4 display=none for="expand4">Stones
          Description</label>
      </div>
    </div>
    <div class=container1>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" display=none rows="10" name=add_auto
          id="add_auto"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=add_label display=none for="add_auto">Additional
          Information</label>
      </div>
    </div>
  </div>

  <div id="Contact" class="tabcontent">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black ">
      <td class="">Move Foundation</td>
      <td><input id="firstRet" type="checkbox" name="MF_" id="MF_" /></td>
      <td class="">Collect Stones</td>
      <td><input id="firstRet" type="checkbox" name="CS_" id="CS_" /></td>
      <td class="">Place Stones</td>
      <td><input id="firstRet" type="checkbox" name="FS_" id="FS_" /></td>
    </table>
    <div class=container1>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand_1
          id="expand_1"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand__label1 for="expand_1">Foundation
          Description</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand_2
          id="expand_2"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand__label2 for="expand_2">Stone
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" display=none rows="10"
          name=additional_teleop id="additional_teleop"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=additional_teleop_label display=none
          for="additional_teleop">Additional Information
        </label>
      </div>
    </div>
  </div>

  <div id="About" class="tabcontent">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--black ">
      <td class="">Move Foundation</td>
      <td><input id="firstRet" type="checkbox" name="MF_EG" id="MF_EG" /></td>
      <td class="">Park in the Build Zone</td>
      <td><input hidden id="firstRet" type="checkbox" name="SS_EG" id="SS_EG" /></td>
      <td hidden class="">Park Over the Build Zone</td>
      <td><input id="firstRep" type="checkbox" name="PDZ_EG" id="PDZ_EG" /></td>
      <td class="">Place Capstone</td>
      <td><input id="firstRet" type="checkbox" name="FS_EG" id="FS_EG" /></td>
    </table>
    <div class=container1>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand__1
          id="expand__1"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand___label1 for="expand__1">Foundation
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand__2
          id="expand__2"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand___label2 for="expand__2">Parking
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" rows="10" name=expand__3
          id="expand__3"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=expand___label3 for="expand__3">Stones
          Description</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input mdl-color-text--yellow" type="text" display=none rows="10"
          name=additional_end id="additional_end"></textarea>
        <label class="mdl-textfield__label mdl-color-text--yellow" id=additional_end_label display=none
          for="additional_end">Additional Information
        </label>
      </div>
      <input id="submitButton" type="submit"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow"
        value="Submit">
</form>
</div>