<%- include ../navigation%>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.yellow-lime.min.css" />
<link rel="stylesheet" href="hawk.css" />
<title>Settings: <%=results['first_name']%></title>
<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #edit {
        position: fixed;
        background-color: black;
        right: 12.5%;
        bottom: 1%;

    }
</style>

<body style=background-color:#1F2739;>
    <h1> <span class="red">Settings</pan>
    </h1>
    <form action="/logout?_method=DELETE" method=POST>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="first_name">First Name</label>
                <input class="mdl-textfield__input " type="text" value="<%=results['first_name']%>" readonly />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="last_name">Last Name</label>
                <input class="mdl-textfield__input" type="text" value="<%=results['last_name']%>" readonly />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <div class=container>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="email">Email</label>
                <input class="mdl-textfield__input" type="text" value="<%=results['email']%>" readonly />
                <span class="mdl-textfield__error"></span>
            </div>
            <div
                class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col mdl-color-text--yellow">
                <label class="mdl-textfield__label mdl-color-text--grey" for="grade">Grade</label>
                <input class="mdl-textfield__input" type="text" value="<%=results['grade']%>" readonly />
                <span class="mdl-textfield__error"></span>
            </div>
        </div>
        <a href="/settings/edit" id="edit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Edit</a>
        <input id="submitButton" type="submit"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow"
            value="Log Out">
    </form>


</body>