<%- include ('../navigation.ejs')%>

<h1> <span class="red">Team Data</pan>
</h1>
<title>Team Data</title>
<script>
function download() {
    let titles = ["Team Number", "Name", "School", "Location", "League", "Actions"];

} 
</script>
<body>
    <link rel="stylesheet" href="/css/scoringButtons.css">
    <link rel="stylesheet" href="/css/table.css">

    <table class="container">
        <thead>
            <tr>
                <th>
                    <h1>Number</h1>
                </th>
                <th>
                    <h1>Team Name</h1>
                </th>
                <th>
                    <h1>School</h1>
                </th>
                <th>
                    <h1>Location</h1>
                </th>
                <th>
                    <h1>League</h1>
                </th>
                <th>
                    <h1>OPR</h1>
                </th>
                <th>
                    <h1>W-L</h1>
                </th>
                <th>
                    <h1>Actions</h1>
                </th>
            </tr>
        </thead>
        <% for (var i = 0; i < results.length; i++ ) { %>
        <tr>
            <td><%= results[i]['team_number']%></td>
            <td><%= results[i]['name'] %></td>
            <td><%= results[i]['school'] %></td>
            <td><%= results[i]['location'] %></td>
            <td><%= results[i]['league'] %></td>
            <td><%= results[i]['opr'] %></td>
            <td><%= results[i]['wl'] %></td>
            <td><a class="mdl-navigation__link" href="/api/<%=results[i]['team_number']%>"><i
                        class="mdl-color-text--black material-icons" role="presentation">remove_red_eye</i></a>
                <a class="mdl-navigation__link" href="/teamEdit/<%=results[i]['idteam']%>"><i
                        class="mdl-color-text--black material-icons" role="presentation">edit</i></a><a
                    class="mdl-navigation__link" href="/teamEdit/delete/<%=results[i]['idteam']%>"><i
                        onclick="return confirm('Are you sure you want to delete this entry?');"
                        class="mdl-color-text--black material-icons" role="presentation">delete</i></a></td>
        </tr>
        <% } %>
    </table>



    <a href="/data" id="backButton"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
        <i class="material-icons">arrow_back</i>
    </a>
    <a href="/newTeam" id="new"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
        <i class="material-icons">add</i>
    </a>
    <a onclick = "downlaod()" id="exportButton"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Download</a>