<%- include ('../navigation.ejs')%>
<title>Users</title>
<h1> <span class="red">Users List</pan>
</h1>
<!-- <h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank">Pablo García Fernández</a></h2> -->
<link rel="stylesheet" href="/css/table.css">
<table class="container">
    <thead>
        <tr>
            <th>
                <h1>Name</h1>
            </th>
            <th>
                <h1>Team</h1>
            </th>
            <th>
                <h1>Grade</h1>
            </th>
            <th>
                <h1>Contact</h1>
            </th>
            <th>
                <h1>Join Date</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < length; i++ ) { %>
        <tr>
            <td><%= results[i]['first_name'] + " " + results[i]['last_name']%></td>
            <td><%= results[i]['teamName'] %></td>
            <td><%= results[i]['grade'] %></td>
            <td><%= results[i]['email'] %></td>
            <td><%= results[i]['create_time'] %></td>
        </tr>
        <% } %>

    </tbody>
</table>
<style>
    /*	
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */
</style>