<% include navigation %>
<!DOCTYPE html>
<html>

<head>
  <title>Scoring Data</title>
  <style>
    .header {
      padding: 1px;
      text-align: center;
      background: grey;
      color: black;
      font-size: 1px;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #bebdbd;
    }

    #exportButton {
      position: fixed;
      right: 2.5%;
      bottom: 1%;
    }

    #new {
      position: fixed;
      background-color: black;
      left: 6%;
      bottom: 1%;

    }
  </style>


</head>

<body>
  <link rel="stylesheet" href="/css/scoringButtons.css">
  <div class=header>
    <h2 align="center">Scoring Data Entries</h2>
  </div>

  <% if (results != 0) { %>
  <table>
    <tr>
      <th>Team 1 Number</th>
      <th>Team 2 Number</th>
      <th>Alliance</th>
      <th>Match</th>
      <th>Field</th>
      <th>Date Created</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>

    <% for (var i = 0; i < results.length; i++ ) { %>
    <tr>
      <td><%= results[i]['team1_name']%></td>
      <td><%= results[i]['team2_name'] %></td>
      <td><%= results[i]['alliance'] %></td>
      <td><%= results[i]['match_num'] %></td>
      <td><%= results[i]['field'] %></td>
      <td><%= results[i]['create_time'] %></td>
      <td><%= results[i]['Author']%> </td>
      <td><a class="mdl-navigation__link" href="http:/dataView/<%=results[i]['id']%>"><i
            class="mdl-color-text--black material-icons" role="presentation">remove_red_eye</i></a><a
          class="mdl-navigation__link" href="http:/dataEdit/<%=results[i]['id']%>"><i
            class="mdl-color-text--black material-icons" role="presentation">edit</i></a><a class="mdl-navigation__link"
          href="http:/dataEdit/delete/<%=results[i]['id']%>"><i
            onclick="return confirm('Are you sure you want to delete this entry?');"
            class="mdl-color-text--black material-icons" role="presentation">delete</i></a></td>
    </tr>
    <% } %>


  </table>
  <% } %>
</body>
<a href="/data" id="backButton"
  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
  <i class="material-icons">arrow_back</i>
</a>
<a href="/score" id="new" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
  <i class="material-icons">add</i>
</a>
<a href="/dataDownload" id="exportButton"
  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green">Download</a>

</html>
<!-- <script>
// function sure() {
//   sure = confirm("Are you sure you want to delete this entry?")
//   return(sure)
// }

</script> -->