<% include navigation %>
<title>Scouting Data</title>
</head>

<body>
  <link rel="stylesheet" href="/css/scoringButtons.css">
  <link rel="stylesheet" href="/css/table.css">
  <h1> <span class="red">Scouting Data Entries</pan>
  </h1>

  <% if (results != 0) { %>
  <table class=container>
    <thead>
      <tr>
        <th>
          <h1>Team Number</h1>
        </th>
        <th>
          <h1>Event</h1>
        </th>
        <th>
          <h1>Date Created</h1>
        </th>
        <th>
          <h1>Author</h1>
        </th>
        <th>
          <h1>Actions</h1>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < results.length; i++ ) { %>
      <tr>
        <td><%= results[i]['identification']%></td>
        <td><%= results[i]['event_name'] %></td>
        <td><%= results[i]['create_time'] %></td>
        <td><%= results[i]['author']%> </td>
        <td><a class="mdl-navigation__link" href="http:/scoutView/<%=results[i]['id']%>"><i
              class="mdl-color-text--black material-icons" role="presentation">remove_red_eye</i></a><a
            class="mdl-navigation__link" href="http:/scoutEdit/<%=results[i]['id']%>"><i
              class="mdl-color-text--black material-icons" role="presentation">edit</i></a><a
            class="mdl-navigation__link" href="http:/scoutEdit/delete/<%=results[i]['id']%>"><i
              onclick="return confirm('Are you sure you want to delete this entry?');"
              class="mdl-color-text--black material-icons" role="presentation">delete</i></a></td>
      </tr>
      <% } %>
    </tbody>

  </table>
  <% } %>
</body>
<a href="/data" id="backButton"
  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
  <i class="material-icons">arrow_back</i>
</a>
<a href="/scout" id="new" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
  <i class="material-icons">add</i>
</a>
<a href="/scoutDownload" id="exportButton"
  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow">Download</a>

</html>