<% include navigation %>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="/css/scoringButtons.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script defer src="/js/scout.js"></script>
  
  <link rel='stylesheet' href='/css/hawk.css' />
  <link rel='stylesheet' href='/css/scout.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<title>Scout</title>
<div align=center class=header>
  <h2>Scouted by <%=results[0]['author']%></h2>
</div>
<form method="POST" action="/dataEdit/update/<%=results[0]['id']%>">
  <div class=container>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <label class="mdl-textfield__label mdl-color-text--grey" for="team_num">Team Number</label>
      <input class="mdl-textfield__input" type="text" id="team_num" required value = "<%=results[0]['team_number']%>" name="team_num"  />
      <span class="mdl-textfield__error"></span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--2-col">
      <label class="mdl-textfield__label mdl-color-text--grey" for="event_name">Event Name</label>
      <input class="mdl-textfield__input" type="text" id="event_name" required  value = "<%=results[0]['event_name']%>"name="event_name" required />
      <span class="mdl-textfield__error"></span>
    </div>
  </div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <% if (results[0]['move_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox"   checked name="MF" id="MF" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox"    name="MF" id="MF" /></td>
    <% } %>
    
    <td class="">Sense Skystones</td>
    <% if (results[0]['sense_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox"    checked name="SS" id="SS" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox"    name="SS" id="SS" /></td>
    <% } %>
    
    <td class="">Park Over the Build Zone</td>
    <% if (results[0]['over_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox"    checked name="PDZ" id="PDZ" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox"    name="PDZ" id="PDZ" /></td>
    <% } %>
    <td class="">Collect Stones</td>
    <% if (results[0]['collect_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox"    checked  name="CS" id="CS" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox"    name="CS" id="CS" /></td>
    <% } %>
    <td class="">Place Stones</td>
    <% if (results[0]['place_auto'] == 1 ) { %>
        <td><input id="firstRet" type="checkbox"    checked name="FS" id="FS" /></td>
    <% } else { %>
        <td><input id="firstRet" type="checkbox"    name="FS" id="FS" /></td>
    <% } %>
    
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea  class="mdl-textfield__input mdl-color-text--black"   type="text" rows="10" name=expand1
        id="expand1"><%=results[0]['found_auto_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand_label1  for="expand1">Foundation
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text"  rows="10" name=expand2
        id="expand2"><%=results[0]['sense_auto_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand_label2 for="expand2">Sensing
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text"  rows="10" name=expand3
        id="expand3"><%=results[0]['park_auto_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand_label3 for="expand3">Parking
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text"    rows="10" name=expand4
        id="expand4"><%=results[0]['stone_auto_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand_label4  for="expand4">Stones
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black"  type="text"  rows="10" name=add_auto
        id="add_auto"><%=results[0]['add_auto_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=add_label  for="add_auto">Additional
        Information</label> -->
    </div>

  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <% if (results[0]['found_teleop'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="MF_" id="MF_" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="MF_" id="MF_" /></td>
  <% } %>
    <td class="">Collect Stones</td>
    <% if (results[0]['collect_teleop'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="CS_" id="CS_" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="CS_" id="CS_" /></td>
  <% } %>
    <td class="">Place Stones</td>
    <% if (results[0]['palace_teleop'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="FS_" id="FS_" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="FS_" id="FS_" /></td>
  <% } %>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand_1
        id="expand_1"><%=results[0]['found_teleop_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand__label1 for="expand_1">Foundation
        Description</label> -->
    </div>

    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand_2
        id="expand_2"><%=results[0]['stone_teleop_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand__label2 for="expand_2">Stone
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text"  rows="10"
        name=additional_teleop id="additional_teleop"><%=results[0]['add_teleop_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=additional_teleop_label 
        for="additional_teleop">Additional Information
      </label> -->
    </div>
  </div>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color-text--black">
    <td class="">Move Foundation</td>
    <% if (results[0]['found_end'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="MF_EG" id="MF_EG" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="MF_EG" id="MF_EG" /></td>
  <% } %>
    <td class="">Park in the Build Zone</td>
    <% if (results[0]['in_end'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="SS_EG" id="SS_EG" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="SS_EG" id="SS_EG" /></td>
  <% } %>
    <td class="">Park Over the Build Zone</td>
    <% if (results[0]['over_end'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="PDZ_EG" id="PDZ_EG" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="PDZ_EG" id="PDZ_EG" /></td>
  <% } %>
    <td class="">Place Stones</td>
    <% if (results[0]['place_end'] == 1 ) { %>
      <td><input id="firstRet" type="checkbox"   checked name="FS_EG" id="FS_EG" /></td>
  <% } else { %>
      <td><input id="firstRet" type="checkbox"    name="FS_EG" id="FS_EG" /></td>
  <% } %>
  </table>
  <div class=container1>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__1
        id="expand__1"><%=results[0]['found_end_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand___label1 for="expand__1">Foundation
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__2
        id="expand__2"><%=results[0]['parki_end_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand___label2 for="expand__2">Parking
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text" rows="10" name=expand__3
        id="expand__3"><%=results[0]['stones_end_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=expand___label3 for="expand__3">Stones
        Description</label> -->
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input mdl-color-text--black" type="text"  rows="10"
        name=additional_end id="additional_end"><%=results[0]['add_end_d']%></textarea>
      <!-- <label class="mdl-textfield__label mdl-color-text--black" id=additional_end_label 
        for="additional_end">Additional Information
      </label> -->
    </div>
    <input id="submitButton" type="submit"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--yellow"
      value="Submit">
  </div>
  <a href="/scoutingData" id="backButton"
    class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--yellow">
    <i class="material-icons">arrow_back</i>
  </a>
</form>