<% include navigation %>

<style>
</style>
<div class=header>
    <h2>Simulation Selection</h2>
</div>
<title>Team Select</title>
<body>
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/hawk.css">
    <form method="POST" action="/simulation=?">
    <table>
        <tr>
            <th>Team Number</th>
            <th>Name</th>
            <th>School</th>
            <th>Location</th>
            <th>League</th>
            <th>OPR</th>
            <th>W-L</th>
            <th>Select</th>
        </tr>

        <% for (var i = 0; i < results.length; i++ ) { %>
        <tr>
            <td><%= results[i]['team_number']%></td>
            <td><%= results[i]['name'] %></td>
            <td><%= results[i]['school'] %></td>
            <td><%= results[i]['location'] %></td>
            <td><%= results[i]['league'] %></td>
            <td><%= results[i]['opr'] %></td>
            <td><%= results[i]['wl'] %></td>
            <td><input id="<%=results[i]%>" type="checkbox"  name="<%=i%>"  /></td>
        </tr>
        <% } %>
    </table>
    <input id="submitButton" type="submit"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--black mdl-color-text--green"
    value="Generate">
</form>
    <a href="/home" id="backButton"
        class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
        <i class="material-icons">arrow_back</i>
    </a>
   