<%include navigation%>
<!DOCTYPE html>
<html>
    <title>Simulation</title>
<head>
    <div class=header>
        <h2><%=final.length%> Combinations</h2>
    </div>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/hawk.css' />
    <link rel='stylesheet' href='/css/simal.css' />
    <link rel="stylesheet" href="/css/scoringButtons.css">
    <link rel="stylesheet" href="/css/table.css">
</body>

<body>

    <button class="tablink" onclick="openPage('Simulation', this, 'green')" id="defaultOpen">Simulation</button>
    <button class="tablink" onclick="openPage('Results', this, 'green')">Results</button>

    <div id="Simulation" class="tabcontent">


        
        <table>
            <tr>
                <th>Red 1</th>
                <th>Red 2</th>
                <th>Blue 1</th>
                <th>Blue 2</th>
                <th>OPR Score</th>
                <th>W-L Score</th>
            </tr>

            <% for (var i = 0; i < final.length; i++ ) { %>
            <tr>
                <td><%= final[i][0][1]%></td>
                <td><%= final[i][0][3] %></td>
                <td><%= final[i][1][1]%></td>
                <td><%= final[i][1][3] %></td>
                <td><%= final[i][0][4] %> - <%= final[i][1][4] %></td>
                <td><%= final[i][0][5] %> - <%= final[i][1][5] %></td>
            </tr>
            <% } %>
        </table>

    </div>

    <div id="Results" class="tabcontent">
        <table>
        <tr>
            <th>Rank</th>
            <th>Team Name</th>
            <th>OPR Record</th>
            <th>OPR Percentage</th>
            <th>W-L Record</th>
            <th>W-L Percentage</th>
        </tr>
        <% for (var i = 0; i < scores.length; i++ ) { %>
          <tr>
            <td><%=i+1%></td>
            <td><%=scores[i][1]%></td>
            <td><%=scores[i][3]%> - <%=scores[i][4]%> - <%=scores[i][5]%></td>
            <td><%=scores[i][6]%>%</td>
            <td><%=scores[i][8]%> - <%=scores[i][9]%> - <%=scores[i][10]%></td>
            <td><%=scores[i][11]%>%</td>
        </tr>

        <% } %>
    </table>
    
    </div>
    <a href="/simSel" id="backButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--green">
        <i class="material-icons">arrow_back</i>
    </a>




    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

</body>

</html>